body {
	color:blue;
	font-variant:small-caps;
	text-decoration:blink;
}

#intro .first {
	color:red;
	font-style:italic;
	font-weight:100;
	font-variant:small-caps;
	text-shadow: 5px 2px 4px green, 2px 1px 4px blue;
}

#intro {
	color:green;
	font-variant:inherit;
}
